<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332677094883-hftgo5o2va9ks0vs5qn0pdg04knkjhk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332677094883-hftgo5o2va9ks0vs5qn0pdg04knkjhk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCL5Mt4TYssRB8b3Y-IGJ-LhxlzoWgrJMI</string>
	<key>GCM_SENDER_ID</key>
	<string>332677094883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piotrandrzejewski.niania.recorder</string>
	<key>PROJECT_ID</key>
	<string>niania-e33cb</string>
	<key>STORAGE_BUCKET</key>
	<string>niania-e33cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332677094883:ios:cf324c87547c0b11ea14d6</string>
	<key>DATABASE_URL</key>
	<string>https://niania-e33cb.firebaseio.com</string>
</dict>
</plist>